.mainHeading {
  font-size: 18px;
  font-family: "Poppins";
  font-weight: bold;
  margin-top: 15px;
}

.createButton {
  text-transform: capitalize;
  text-decoration: underline;
  background-color: transparent !important;
  box-shadow: none !important;
  color: inherit;
  font-weight: bold;
}
