.settingsBgContainer {
    font-size: 'roboto';
    margin-bottom: 30px;
}

.cardsMainContainer {
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
}

.settingImage {
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
}

.cardContainer {
    height: 200px;
    width: 150px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e3efff ;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-right: 30px;
}

.cardContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15), 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.cardheading {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.sectionMainHeading {
    font-size: 20px;
    font-weight: bold;
    color: #1976D2;
}