.packageNameTextField {
  height: 15px;
}

.submitButton {
  background-color: #f3e5f5;
  padding: 10px;
  color: purple;
  height: 50px;
  padding-left: 70px;
  padding-right: 70px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #d1c4e9;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.sectionHeading {
  font-size: 18px;
  font-weight: bold;
  color: purple;
}
