.submitButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 20px;
}

.basicDetailsHeading {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Roboto";
  margin-left: 10px;
  margin-bottom: 10px;
}

.createButton {
  text-transform: capitalize;
  text-decoration: underline;
  background-color: transparent !important;
  box-shadow: none !important;
  color: inherit;
  font-weight: bold;
}
