.nextButton {
  background-color: "#F08C24";
  color: white;
  border: none;
  transition: background-color 0.3s ease;
  padding-right: 30px;
  padding-left: 30px;
}

.nextButton:hover {
  background-color: "#F08C24";
}

.backButton {
  background-color: white;
  color: "#F08C24";
  border: 2px solid "#F08C24";
  transition: all 0.3s ease;
  margin-right: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.backButton:hover {
  background-color: "#F08C24";
  /* color: white; */
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
